@CHARSET "UTF-8";

.buttonCss {
	font-weight:bold;
	text-decoration:none;
	font-family:Arial;
	box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 2px 2px 0px;
	o-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 2px 2px 0px;
	-moz-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 2px 2px 0px;
	-webkit-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 2px 2px 0px;
	background:#eeeeee;
	background:-o-linear-gradient(90deg, #eeeeee, #e1e1e1);
	background:-moz-linear-gradient( center top, #eeeeee 5%, #e1e1e1 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #e1e1e1) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e1e1e1');
	background:-webkit-linear-gradient(#eeeeee, #e1e1e1);
	background:-ms-linear-gradient(#eeeeee, #e1e1e1);
	background:linear-gradient(#eeeeee, #e1e1e1);
	text-indent:0px;
	line-height:14px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:14px;
	color:#696969;
	width:17px;
	height:14px;
	padding:0px;
	border-color:#e1e1e1;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
}

.buttonCss:active {
	box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 2px 0 0px;
	o-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 2px 0 0px;
	-moz-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 2px 0 0px;
	-webkit-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 2px 0 0px;
	position:relative;
	top:2px
}

.buttonCss:hover {
	background:#e1e1e1;
	background:-o-linear-gradient(90deg, #e1e1e1, #eeeeee);
	background:-moz-linear-gradient( center top, #e1e1e1 5%, #eeeeee 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e1e1e1), color-stop(1, #eeeeee) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#eeeeee');
	background:-webkit-linear-gradient(#e1e1e1, #eeeeee);
	background:-ms-linear-gradient(#e1e1e1, #eeeeee);
	background:linear-gradient(#e1e1e1, #eeeeee);
}

.button1Css {
	font-weight:bold;
	text-decoration:none;
	font-family:Arial;
	box-shadow:inset #fafafa 0px -19px 8px -1px,#a8a8a8 0px 2px 0px;
	o-box-shadow:inset #fafafa 0px -19px 8px -1px,#a8a8a8 0px 2px 0px;
	-moz-box-shadow:inset #fafafa 0px -19px 8px -1px,#a8a8a8 0px 2px 0px;
	-webkit-box-shadow:inset #fafafa 0px -19px 8px -1px,#a8a8a8 0px 2px 0px;
	background:#eeeeee;
	background:-o-linear-gradient(90deg, #eeeeee, #e1e1e1);
	background:-moz-linear-gradient( center top, #eeeeee 5%, #e1e1e1 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #e1e1e1) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e1e1e1');
	background:-webkit-linear-gradient(#eeeeee, #e1e1e1);
	background:-ms-linear-gradient(#eeeeee, #e1e1e1);
	background:linear-gradient(#eeeeee, #e1e1e1);
	text-indent:0px;
	line-height:17px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:12px;
	color:#696969;
	width:45px;
	height:17px;
	padding:0px;
	border-color:#e1e1e1;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
}

.button1Css:active {
	box-shadow:inset #fafafa 0px -19px 8px -1px,#a8a8a8 0px 0 0px;
	o-box-shadow:inset #fafafa 0px -19px 8px -1px,#a8a8a8 0px 0 0px;
	-moz-box-shadow:inset #fafafa 0px -19px 8px -1px,#a8a8a8 0px 0 0px;
	-webkit-box-shadow:inset #fafafa 0px -19px 8px -1px,#a8a8a8 0px 0 0px;
	position:relative;
	top:2px
}

.button1Css:hover {
	background:#e1e1e1;
	background:-o-linear-gradient(90deg, #e1e1e1, #eeeeee);
	background:-moz-linear-gradient( center top, #e1e1e1 5%, #eeeeee 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e1e1e1), color-stop(1, #eeeeee) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#eeeeee');
	background:-webkit-linear-gradient(#e1e1e1, #eeeeee);
	background:-ms-linear-gradient(#e1e1e1, #eeeeee);
	background:linear-gradient(#e1e1e1, #eeeeee);
}

.button2Css {
	font-weight:bold;
	text-decoration:none;
	font-family:Arial;
	box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 0px 2px 0px;
	o-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 0px 2px 0px;
	-moz-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 0px 2px 0px;
	-webkit-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 0px 2px 0px;
	background:#eeeeee;
	background:-o-linear-gradient(90deg, #eeeeee, #e1e1e1);
	background:-moz-linear-gradient( center top, #eeeeee 5%, #e1e1e1 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #e1e1e1) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e1e1e1');
	background:-webkit-linear-gradient(#eeeeee, #e1e1e1);
	background:-ms-linear-gradient(#eeeeee, #e1e1e1);
	background:linear-gradient(#eeeeee, #e1e1e1);
	text-indent:0px;
	line-height:22px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:17px;
	color:#696969;
	width:33px;
	height:22px;
	padding:3px;
	border-color:#e1e1e1;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
}

.button2Css:active {
	box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 0px 0 0px;
	o-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 0px 0 0px;
	-moz-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 0px 0 0px;
	-webkit-box-shadow:inset #fafafa 0px 5px 8px -1px,#a8a8a8 0px 0 0px;
	position:relative;
	top:2px
}

.button2Css:hover {
	background:#e1e1e1;
	background:-o-linear-gradient(90deg, #e1e1e1, #eeeeee);
	background:-moz-linear-gradient( center top, #e1e1e1 5%, #eeeeee 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e1e1e1), color-stop(1, #eeeeee) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#eeeeee');
	background:-webkit-linear-gradient(#e1e1e1, #eeeeee);
	background:-ms-linear-gradient(#e1e1e1, #eeeeee);
	background:linear-gradient(#e1e1e1, #eeeeee);
}




.greyButtonCss {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e3e3e3), color-stop(1, #bdbdbd));
	background:-moz-linear-gradient(top, #e3e3e3 5%, #bdbdbd 100%);
	background:-webkit-linear-gradient(top, #e3e3e3 5%, #bdbdbd 100%);
	background:-o-linear-gradient(top, #e3e3e3 5%, #bdbdbd 100%);
	background:-ms-linear-gradient(top, #e3e3e3 5%, #bdbdbd 100%);
	background:linear-gradient(to bottom, #e3e3e3 5%, #bdbdbd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#bdbdbd',GradientType=0);
	background-color:#e3e3e3;
	border:1px solid #050505;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	padding:3px 10px;
	text-decoration:none;
}
.greyButtonCss:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #e3e3e3));
	background:-moz-linear-gradient(top, #bdbdbd 5%, #e3e3e3 100%);
	background:-webkit-linear-gradient(top, #bdbdbd 5%, #e3e3e3 100%);
	background:-o-linear-gradient(top, #bdbdbd 5%, #e3e3e3 100%);
	background:-ms-linear-gradient(top, #bdbdbd 5%, #e3e3e3 100%);
	background:linear-gradient(to bottom, #bdbdbd 5%, #e3e3e3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#e3e3e3',GradientType=0);
	background-color:#bdbdbd;
}
.greyButtonCss:active {
	position:relative;
	top:1px;
}


.whiteButtonCss {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	border:1px solid #737373;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	padding:2px 10px;
	text-decoration:none;
}
.whiteButtonCss:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.whiteButtonCss:active {
	position:relative;
	top:1px;
}

.darkButtonCss {
	display: inline-block;
    padding: 0px 10px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    background: #7d7d7d;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
